html {
    position: relative;
    scroll-behavior: smooth;
}

body {
    margin-bottom: 100px;
    padding-top: 50px;
}

.jumbotron {
    height: 400px;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -200px;
    overflow: hidden;
}

.jumbotron h2 {
    text-shadow: 4px 0 0 cyan, -4px 0 0 red;
}


section hr {
    width: 20%;
    border-top: 1.5px solid black;
}

section {
    min-height: 600px;
}

.pKiri,
.pKanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
    opacity: 1;
    transform: translate(0, 0);
}

section.portfolio {
    background-color: #eee;
}

.portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 0.5s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: #999;
    padding-top: 27px;
}

footer p {
    font-size: 1em;
}